:root {
  --main-color: rgb(29, 32, 59);
  --constructor-color: #dad8ac;
  --bracket-yellow: #f4d424;
  --class-color: #5891cf;
  --class-var-color: #5fbda0; 
  --var-params-color: #90d9fd;
  --function-purple-color: #ce77cc;
  --string-red-color: #ca9176;
  --number-green-color: #95a98b;

  --code-font: 'consolas';
}


.App {
  font-family: 'Consolas', 'Courier New';

  margin-top: -1rem;

  min-height: 100vh;
  min-width: 100vw;


  display: grid;
  grid-template-areas:
        "hero"
        "toolkit";
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr;

  text-align: center;
  position: relative;
}




/****** NAV SECTION  ******/
.nav{
  background-color: black;
  color: white;

  
  max-width: 100vw ;
  min-height: 1em;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  padding: 1rem 0 2rem;
  

}




/******* HERO SECTION *******/
.hero{
  margin: 0;

  box-sizing: border-box;


  height: 75vh;



  background-color: black;
  color: white;

  grid-area: hero;
}


.hardCoded{
  display:flex;
  flex-direction: column;
  text-align: left; 

  font-family: 'Consolas', 'Courier New';

  color: var(--var-params-color)

}

.hardCoded p {
  padding-left: 2.5rem;
}

/* color assignments for hero */

#class{
  color: var(--class-color);
}
#classVar{
  color: var(--class-var-color);
}
#constructor{
  color: var(--constructor-color)
}
#var-params{
  color:var(--var-params-color)
}

.newDev{
  color: var(--class-var-color)
}

.thisVar{
  color: var(--class-color)
}

.nestedBracket{
  color:var(--bracket-yellow)
}
.symbols{
  color: white
}
.stringRed{
  color: var(--string-red-color);
}
.numberGreen{
  color: var(--number-green-color);
}

.functionPurple{
  color: var(--function-purple-color)
}

/* blinking cursor */
.typingChars{
  position: relative;
}
.typingChars::after {
  color: white;
  content:'|';


  animation: blinking alternate infinite .25s 
  /* width: 2px;

  height: 4px; */

  /* color:white;
  background-color: white;
  border: white, solid, 2px; */
}

@keyframes blinking {
  0%{
    opacity: 0%;
  }
  /* 50%{
    opacity: 50%;
  } */
  100%{
    opacity: 100%;
  }
}





/******* TOOLKIT SECTION  *******/

.toolkit{
  grid-area: toolkit;
  background-color: var(--main-color);
  color: white;
  height: 100%;

  
}






