.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/****** NAV SECTION  ******/
nav{
  background-color: white;
  color: black;

  height: 3rem;
  width: 100%;

  display:flex;
  justify-content: space-between;
  align-items: baseline;

  
  padding-right:1rem;

  z-index: 1000;

  position: fixed;
  left: 0;
  top: 0;

}


/******* HERO SECTION *******/
.hero{

  height: 50vh;



  background-color: black;
  color: white;
}





