:root {
  --main-color: rgb(29, 32, 59);
  --constructor-color: #dad8ac;
  --bracket-yellow: #f4d424;
  --class-color: #5891cf;
  --class-var-color: #5fbda0; 
  --var-params-color: #90d9fd;
  --function-purple-color: #ce77cc;
  --string-red-color: #ca9176;
  --number-green-color: #95a98b;
  --file-text-yellow-color: #d8bd8e;
  --border-blue-color: #86afbc;
  --border-orange-color: #ca8033;

  --code-font: 'consolas';
}


.App {
  font-family: 'Consolas', 'Courier New';

  margin-top: -1rem;

  min-height: 100vh;
  min-width: 100vw;


  display: grid;
  grid-template-areas:
        "hero"
        "toolkit";
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr;

  text-align: center;
  position: relative;
}




/****** NAV SECTION  ******/
.nav{
  background-color: black;
  color: white;
  

  
  max-width: 100vw ;
  min-height: 1em;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
  padding: 0 2rem 0 0;

  border: solid 1px var(--border-blue-color)
  

}

.socialContacts{
  display: flex;
  gap: 1rem;

  font-size: 1.3rem;
}
.socialContacts a{
  color:white;
  fill: white;
}


.pages{
  display: flex; 
  gap: 0;
  

}

.link{
  position: relative;
  text-decoration: none;
  color: var(--file-text-yellow-color);

  height: 100%;

  padding: .5rem 1rem;


  border: solid var(--border-blue-color) 1px;
  border-bottom: none;
  border-top: none;
}
.linkIcon{
  color: yellow;
  margin-right: .5rem;
}


.border{
  width: 93%;

  height: 80%;

  border: var(--border-orange-color) solid 1px;
  position: absolute;
  left: 3px;
  top: 3px;
}



.filepath{
  background: black;
  color: white;

  padding-left: 1rem;

  border: solid 1px var(--border-blue-color);
  border-top: none;

  font-size: .85rem;
}

.filePathIcon{
  color:yellow;
}



/******* HERO SECTION *******/
.hero{
  margin-top: 1rem;

  box-sizing: border-box;


  height: 75vh;
  
  background-color: black;
  color: white;

  
}


.hardCoded{
  display:flex;
  flex-direction: column;
  text-align: left; 

  font-family: 'Consolas', 'Courier New';

  color: var(--var-params-color)

}

.hardCoded p {
  padding-left: 2.5rem;
}

/* color assignments for hero */

#class{
  color: var(--class-color);
}
#classVar{
  color: var(--class-var-color);
}
#constructor{
  color: var(--constructor-color)
}
#var-params{
  color:var(--var-params-color)
}

.newDev{
  color: var(--class-var-color)
}

.thisVar{
  color: var(--class-color)
}

.nestedBracket{
  color:var(--bracket-yellow)
}
.symbols{
  color: white
}
.stringRed{
  color: var(--string-red-color);
}
.numberGreen{
  color: var(--number-green-color);
}

.functionPurple{
  color: var(--function-purple-color)
}

/* blinking cursor */
.typingChars{
  position: relative;
}
.typingChars::after {
  color: white;
  content:'|';


  animation: blinking alternate infinite .25s 
  /* width: 2px;

  height: 4px; */

  /* color:white;
  background-color: white;
  border: white, solid, 2px; */
}

@keyframes blinking {
  0%{
    opacity: 0%;
  }
  /* 50%{
    opacity: 50%;
  } */
  100%{
    opacity: 100%;
  }
}





/******* TOOLKIT SECTION  *******/

.toolkit{
  display:flex;
  flex-direction: column;

  font-family: 'Consolas', 'Courier New';

  background-color: black;
  color: white;
  height: 100%;

  border-top: solid 1px var(--border-blue-color);
  
  padding-bottom: 1rem;
}

.tabs{

  display: flex;
  

  width: 100%;
  height: 15%;
}

.tab:hover{
  cursor:pointer;
}

.tab{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;
  height: 100%;
  background-color: black;

  position: relative;

  font-size: .85rem;
  font-weight: light;
}

.contact{
  height: 100%;
  
}


#contact-form{


  width: 60%;
  

  display: flex;
  flex-direction: column;
  
  justify-content: flex-end;


  gap: 1rem;

  margin: 0 auto;

}
#contact-form button{
  width: 25%;
  margin: 0 auto;


  background-color: black;
  color: white;
  border: solid 2px var(--border-blue-color)

}

#contact-form button:hover, #contact-form button:focus{
  font-weight:bolder;
  background-color: var(--border-blue-color);
  color: black;
}

.formGroup{
  gap: 2rem;
  width: 50%;
  display: flex;
  justify-content: end;
  margin: 0 auto;
}

.formGroup input{
  color:white;
  background-color: black;
  border: none;
  border-bottom: solid 1px var(--border-blue-color); 
}

.formGroup textarea{
  color:white;
  background-color: black;
  border: none;
  border-bottom: solid 1px var(--border-blue-color);
}



footer{
  text-align: left;

}

footer ul{
  
list-style: none;
}


/********* ABOUT PAGE  ***********/
.about{
  display: flex;
  flex-direction: column;


  

  color: white;
  background-color: black;

  height: 100%;
  width: 100%;
}


.about img {
  display: block;

  margin: 2rem auto 0;

  width: 60%;



}

.bio {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;

  
}






/********* PROJECTS PAGE  ***********/


.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  min-height: 100vh;
  min-width: 100vw;
  color: white;
  background-color: black;

  margin-top: -1.25rem;

  font-size: 3rem;
}